body {
    margin: 0;
    padding: 0;
}
#body {
    margin: 20% auto;
    text-align: center;
}
input {
    padding: 10px 80px;
    margin: 30px;
    width:30%;
    border-radius: 30px;
    border: 1px solid #cfcfcf;
}
button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}
input:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}
button:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
}
#footer {
    position: absolute;
    bottom: 0;
    background-color:#f2f2f2;
    width:100%;
    color: #70757a;
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav {
    margin: 0 20px;
}
#header {
    position: absolute;
    top: 0;
    width:100%;
    padding: 15px;
    color: #70757a;
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    display: flex;
    justify-content: space-between;
}
a {
    color: #70757a;
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    padding: 15px;
    text-decoration: none;
}
span {
    color: #70757a;
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
}
a:hover {
    text-decoration: underline;
}
.left {
    justify-content: flex-start;
    min-width: 30%;
    order: 1;
    display: flex;
    flex-wrap: wrap;
}
.right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-width: 30%;
    order: 3;
}
.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 2;
}
.center img {
    height: 14px;
    margin-right: 6px;
}
#apps {
    width: 20px;
}
#profile {
    width: 35px;
}
#profile-wrapper {
    padding-top: 8px;
}